# Ignore Python virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore database
db.sqlite3

# Ignore system files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store

# Ignore secret keys
*.env
.env
secrets.json
